@import "../../../styles/_mixins.scss";

@import "../../../styles/_sizes.scss";

.otpContainer {
  display: flex;
  justify-content: center;
}

.otpInput {
  width: 3.8rem !important;
  height: 4.2rem;
  color: var(--risk-primary);
  //line-height: 22px;
  border: 1px solid var(--risk-primary);
  border-radius: $border-radius-md;
  outline: none;
  margin: 0.5rem;
  background-color: transparent;
  transition: border 0.3s;
  @include font(1.4em, 400);

  @media screen and (max-width: 769px) {
    width: 2.5rem !important;
    height: 3rem;
    margin: 0.2rem;
    @include font(1.1em, 400);
  }

  &:focus {
    border-radius: $border-radius-sm;
    border: 2px solid var(--risk-primary-light);
  }
}

.error {
  color: var(--risk-danger);
}
