@import "../../../styles/_mixins.scss";

@import "../../../styles/_sizes.scss";

.otpContainer {
  display: flex;
  justify-content: center;
}

.otpInput {
  width: 3.8rem !important;
  height: 4.1rem;
  color: var(--risk-primary);
  border: 1px solid var(--risk-primary);
  border-radius: $border-radius-md;
  outline: none;
  margin: 0.5rem;
  transition: border 0.3s;
  @include font(2.2em, 800);

  @media screen and (max-width: 769px) {
    width: 2.8rem !important;
    height: 3.2rem;
    margin: 0.2rem;
    @include font(2em, 400);
  }

  &:focus {
    border-radius: $border-radius-sm;
    border: 2px solid var(--risk-primary-light);
  }
}

.error {
  color: var(--risk-danger);
}
