@import "../../../styles/_mixins.scss";

.field {
  background-color: var(--risk-white);
  border: 1px solid var(--risk-bg-dark);
  padding: 4px 2px;
  @include font(0.9em, 600);

  &:focus {
    outline: 0;
    border: 1px solid rgba(0, 153, 34, 1);
  }

  &.error {
    border: 1px solid var(--risk-danger) !important;
  }
}
