@import "../../../../styles/_mixins.scss";

.label {
  @include font(0.85em, 600);
  color: rgba(24, 24, 24, 1);
}

.field {
  padding: 6px 10px;
  @include font(0.9em, 600);
  border: 1px solid rgba(241, 243, 242, 1);
  width: 100%;
  background-color: var(--white);

  &:focus {
    outline: 0;
    border: 1px solid rgba(0, 153, 34, 1);
  }
}
