@import "../../../styles/_mixins.scss";

.button {
  outline: 0;
  border: 0;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: -1px 5px 4px 1px rgba(0, 0, 0, 0.1);

  @include font(0.9em, 500);

  &:focus {
    box-shadow: none;
  }

  &.picked {
    background-color: rgba(59, 191, 88, 1);
    color: var(--white);
  }

  &:hover {
    opacity: 0.8;
  }
}
