@import "../../../styles/_mixins.scss";

.wrapper {
  z-index: 1;
  background-color: var(--risk-bg-secondary-light);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--risk-black);
  cursor: none;

  .innerWrapper {
    flex: wrap;
    overflow-x: auto;
    white-space: nowrap;
    @include scrollbars(0px, 0px);

    .bold {
      @include font(0.9em, 600);

      @media screen and (max-width: 900px) {
        @include font(0.85em, 600);
      }
    }

    .light {
      color: var(--risk-black-light);
      @include font(0.9em, 400);

      @media screen and (max-width: 900px) {
        @include font(0.85em, 400);
      }
    }
  }
}
