@import "../../../styles/_mixins.scss";

.wrapper {
  z-index: 1;
  background-color: var(--risk-bg-secondary-light);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--risk-black);
  cursor: none;

  .innerWrapper {
    flex: wrap;
    overflow-x: auto;
    white-space: nowrap;
    @include font(0.97em, 400);
    @include scrollbars(0px);

    .bold {
      @include font(1em, 600);
    }

    .light {
      color: var(--risk-black-light);
    }
  }
}
