:root {
  --risk-primary: rgba(13, 37, 22, 1);
  --risk-primary-light: rgba(0, 153, 34, 1);
  --risk-secondary: rgba(213, 156, 0, 1);
  --risk-bg-secondary: rgba(245, 241, 227, 1);
  --risk-danger: #ff0000;
  --white: #ffffff;
}
