@mixin font($size, $weight: 400, $family: "Poppins") {
  font: {
    size: $size;
    weight: $weight;
    family: $family;
  }
}

@mixin scrollbars(
  $width: 3px,
  $height: 0px,
  $background-color: var(--risk-black)
) {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    background-color: var(--risk-primary-dark);
    outline: 1px solid var(--risk-primary-dark);
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--risk-primary-light);
  }
  //&::-webkit-scrollbar {
  //  width: $size;
  //  height: $size;
  //  border-radius: 5px;
  //}
  //&::-webkit-scrollbar-thumb {
  //  background: $background-color;
  //  border-radius: 5px;
  //}
  //&::-webkit-scrollbar-track {
  //  background: #e2e2e2;
  //  border-radius: 5px;
  //}
  //scrollbar-color: #e2e2e2 $background-color;
}
