@import "../../styles/_mixins.scss";

.wrapper {
  background-color: var(--risk-primary-dark);
  padding: 0.5em 0 9em 0 !important;
  color: var(--risk-secondary);
  @include font(0.9em, 700, "Abhaya Libre");
}
