@import "../../../styles/_mixins.scss";

.field {
  background-color: var(--risk-white);
  border: 1px solid var(--risk-bg-dark);
  padding: 4px;

  @include font(0.9em, 500);

  &:focus {
    outline: 0;
    border: 1px solid var(--risk-primary-light);
  }

  &.error {
    border: 1px solid var(--risk-danger) !important;
  }
}
