.app {
  .bg-c {
    background-color: var(--risk-bg-secondary);
    padding-top: 7em;
    padding-bottom: 1em;

    @media screen and (max-width: 769px) {
      padding-top: 5em !important;
    }
  }
}
