@import "./styles/colors";
@import "./styles/mixins";
@import "./styles/fonts";

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

input,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--white) inset !important;
}

*::selection {
  box-shadow: 0 0 0 1000px var(--white) inset !important;
  -webkit-box-shadow: 0 0 0 1000px var(--white) inset !important;
}

.error-message {
  color: var(--risk-danger);
  @include font(0.8em, 300);
}
